:root{
	--light-bg: #fefefe;
	--laim-bg: #f4f3eb;
	--red: #ed1c24;
	--brown: #af9559;
	--grey: #808080;
	--violet: #503737;
	--dark-grey: #444444;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Tahoma, sans-serif;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.header-top{
	background-color: var(--brown);
	padding: 10px 0;
}
.header-top .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--light-bg);
}
.header-top .header-location-left{
	border-bottom: 2px dotted #fefefe;
}
.header-top .header-location-right{
	border-bottom: 1px solid #fefefe;
}
.header-top .header-phone img{
	display: inline-block;
	margin-right: 10px;
}
.header-top .header-phone span{
	display: inline-block;
	margin-bottom: -20px;
}
.header-top .header-menu ul{
	display: flex;
	justify-content: center;
	list-style: none;
}
.header-top .header-menu li a{
	display: block;
	margin: 0 10px;
	padding: 10px;
	color: var(--light-bg);
}
.header-top .header-contact span{
	border-bottom: 1px dotted #fefefe;
	margin-right: 20px;
}

.header-top .header-contact-vk{
	display: inline-block;
	border: 1px solid #fefefe;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
}
.header-top .header-contact-vk a{
	color: var(--light-bg);
	text-decoration: none;
	display: block;
}
/*************************/
.header-center .container{
	display: flex;
	justify-content: space-between;
	background-color: var(--light-bg);
	color: var(--grey);
	padding: 30px 0;
}
.header-center .logo-block img{
	margin-bottom: 10px;
}
.header-center .logo-block h3{
	font-weight: normal;
	text-align: center;
	font-size:  14px;
}
.header-center .search-block .search{
	width: 500px;
}
.header-center .search-block .search input{
	padding: 20px 25px;
	border-radius: 3px;
	border: 1px solid var(--grey);
	width: 100%;
	font-size: 16px;
}
.header-center .search-block .search label{
	position: relative;
}
.header-center .search-block .search label:after{
	position: absolute;
	content: " ";
	top: 2px;
	right: 25px;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: block;
}
.header-center .cart-block{
	background-color: #f1f1f1;
	border-radius: 3px;
	border: 1px solid var(--grey);
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-center .cart-block .cart-block-img{
	display: block;
	margin-right: 10px;
}
.header-center .cart-block .cart-block-name{
	display: block;
	margin-right: 10px;
}
.header-center .cart-block .cart-block-num{
	display: block;
	color: var(--light-bg);
	background-color: var(--brown);
	padding: 4px 6px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
}
.header-nav{
	border-top: 1px solid var(--grey);
	border-bottom: 2px solid var(--red);
}
.header-nav .container{
	background-color: var(--light-bg);
	color: var(--grey);
	padding: 20px 0;
}
.header-nav nav ul{
	display: flex;
	justify-content: space-between;
	list-style: none;
}
.header-nav nav ul a{
	color: var(--violet);
	font-size: 18px;
	text-decoration: none;
	display: block;
	padding: 10px 15px;
}
.header-nav nav ul a:hover{
	color: var(--light-bg);
	background-color: var(--red);
	border-radius: 20px;
}
.header-nav nav ul a.menu-sale{
	font-weight: bold;
	color: var(--brown);
}
/**********************************/
.slider{
	position: relative;
}
.slider .slider-item{
	width: 100%;
	height: 600px;
}
.slider .slider-item .container{
	display: flex;
	justify-content: flex-end;
	height: 100%;
	align-items: center;
}
.slider .slider-item-1{
	background-image: url(../img/slide1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.slider .slider-item-2{
	background-image: url(../img/slide2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.slider .slider-item .slider-item-block{
	width: 50%;
	padding: 20px;
	color: var(--light-bg);
}
.slider .slider-item .slider-item-block .slide-new{
	margin-bottom: 15px;
}
.slider .slider-item .slider-item-block .slide-name{
	font-size: 40px;
	font-weight: 100;
	letter-spacing: 3px;
	margin-bottom: 20px;
}
.slider .slider-item .slider-item-block .slide-text{
	line-height: 28px;
}
.slider .slider-controls{
	position: absolute;
	bottom: 30px;
	width: 200px;
	left: calc(50% - 100px);
}
.slider .slider-controls ul{
	display: flex;
	justify-content: center;
	list-style: none;
}
.slider .slider-controls .controls-link{
	display: block;
	width: 20px;
	height: 20px;
	background-color: var(--light-bg);
	border: 3px solid var(--dark-grey);
	border-radius: 100%;
	margin: 0 10px;
}
/**********************************/
.slider-brand{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
}
.slider-brand .arrow-left{
	height: 50px;
	width: 40px;
}
.slider-brand .arrow-left img{
	width:  100%;
	height:  100%;
}
.slider-brand .arrow-right{
	height: 50px;
	width: 40px;
}
.slider-brand .arrow-right img{
	width:  100%;
	height:  100%;
	transform: rotate(180deg);
}
.slider-brand .slider-brands-items{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0 50px;
}
/***********************************/
